@import "_nullstyle.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$menu-color: #373a39;

.header {
    background-color: #fff;
    height: 752px;
}
.header__bg-img {
    background: url("../img/Header-bg.png") no-repeat center;
    height: 100%;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 94px;
}

.header__logo {
    margin: 26px 52px;
    width: 42px;
    height: 42px;
}

.menu__list {
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 28px;
}
.menu__item {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin: 0 25px;
}
.menu__link {
    color: $menu-color;
}
.menu__link:visited {
    color: $menu-color;
}
.menu__link--active {
}

.header__title {
    margin-top: 213px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    text-align: center;
    color: #fff;
}
.header__desc {
    text-align: center;
    margin-top: 18.5px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fcbb08;
}
.header__decor {
    text-align: center;
    margin-top: 179.5px;
}
